<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retrofit.nfc.retrofitsecurenfc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!--<intent-filter android:label="@string/app_name">-->
                <!--<action android:name="android.nfc.action.NDEF_DISCOVERED" />-->
                <!--<data android:scheme="http"-->
                    <!--android:host="commonsware.com"-->
                    <!--android:path="/nfctest"-->
                    <!--/>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <!--List of sites we tell Android that we can handle with NDEF -->
                <data
                    android:host="ccmobilelife.sg"
                    android:scheme="http" />
                <data
                    android:host="*.nus.edu.sg"
                    android:scheme="http" />

                <!-- THIS IS A NEGATIVE CASE, FOR EASY DEMO -->
                <data
                    android:host="*.pleasecarry.me"
                    android:scheme="http" />
            </intent-filter>

            <!--<intent-filter>-->
                <!--<action android:name="android.nfc.action.TECH_DISCOVERED" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.nfc.action.TECH_DISCOVERED"-->
                <!--android:resource="@xml/nfc_tech_filter" />-->

        </activity>
    </application>

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
</manifest>